<ion-view title="Forgot Password">
    <ion-content padding="'true'" class="has-header">
        <form class="list" >
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input ng-model="user.email" type="email" placeholder="username@domain.co.za" >
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button  class="button button-stable button-block " ng-click="forgotPassword(user)" >Recover Password</button>
			
            <a href="#/page1" class="button button-positive button-clear button-block ">Now You Can Login</a>
        </form>
    </ion-content>
</ion-view